<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [cid=%X{correlationId}] [event=%X{eventType} repo=%X{repoId} branch=%X{branch} pr=%X{prId} user=%X{userId}]%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [cid=%X{correlationId}] [event=%X{eventType} repo=%X{repoId} branch=%X{branch} pr=%X{prId} user=%X{userId}]%n</pattern>
        </encoder>
    </appender>

    <!-- DataLoader 배치/디스패치 -->
    <logger name="org.dataloader" level="DEBUG"/>

    <!-- Spring GraphQL 실행 흐름(핸들러/리졸버 단계) -->
    <logger name="org.springframework.graphql" level="DEBUG"/>

    <!-- Spring Cache: 히트/미스/적재/에빅트 -->
    <logger name="org.springframework.cache" level="TRACE"/>




    <logger name="org.springframework.cache.interceptor" level="TRACE"/>

    <!-- Caffeine 사용 시 내부 캐시 이벤트 -->
    <logger name="com.github.benmanes.caffeine.cache" level="DEBUG"/>

    <!-- 트랜잭션  -->
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="org.springframework.data.redis.core" level="TRACE"/>
    <logger name="io.lettuce.core" level="DEBUG"/>
    <logger name="io.lettuce.core.protocol" level="DEBUG"/>

    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>


    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
